.Index {
  .btn {
    position: fixed;
    right: 70px;
    bottom: 150px;
    z-index: 5;
  }
  .video_box {
    height: auto;
    .components-page {
      height: 100%;
      .video {
        width: 100%;
      }
    }
  }
  .tabs_box {
    overflow: hidden;
    .tabs_container {
      height: 100%;
      .at-tabs-pane {
        box-sizing: border-box;
        padding: 25px;
      }
    }
    .examine_box {
    }

    .examine_type {
      font-size: 25px;
      margin-bottom: 15px;
      color: #9E9E9E;
    }
    .examine_title{
      padding: 25px;
    }
    .exmaine_btn {
      margin-top: 15px;
    }
  }

  .modal_content {
    min-height: 10px;
  }
}


.message_box {
  width: 100%;
  height: 82%;
  overflow-y: auto;
  border-collapse: collapse;
  .message {
    border-collapse: collapse;
    box-sizing: border-box;

    .nickname {
      font-weight: 600;
      font-size: small;
      color: #9e9e9e;
    }
    .message_container {
      margin: 25px 5px;
      font-size: medium;
    }
    .message_details {
      border-collapse: collapse;
      border-bottom: solid #a59a9a69 1px;
      .time{
        float: right;
        font-size: smaller;
      }
    }

    .message_reply {
      margin-top: 15px;
      margin-left: 50px;
      border-bottom: solid #a59a9a69 1px;
      .time{
        float: right;
        font-size: smaller;
      }
    }
  }
  .input_box {
    position: fixed;
    bottom: 20px;
    width: 93%;
    display: flex;
    // height: 10%;
    // border-radius: 25px;
    // height: 80px;
    box-sizing: border-box;
    .input {
      background-color: #9e9e9e;
      border-radius: 25px;
      flex: 4;
      
    }
    .send {
      flex: 1;
      margin-left: 15px;
      .btn {
        border-radius: 25px;
      }
    }
    .at-input {
      background-color: transparent;
      // margin-bottom: 0px;
      border: transparent;
      vertical-align: bottom;
    }
  }
}

.introdu_box{
  .avatar_box{
    .avatar{
      float: left;
    }
  }
  .avatar_box::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .experience{
    margin-top: 30px;
  }
}
