.Index{
  .form_box{
    .at-textarea__textarea{
      height: 600px;
    }
    .btn_box{
      box-sizing: border-box;
      margin-top: 50px;
      padding: 2px 60px;
      .btn{
        margin-bottom: 40px;
      }
    }
  }
}