.Index{
  padding: 20px;
  box-sizing: border-box;
  .image_box{
    text-align: center;
  }
  .name_box{
    font-weight: 600;
    margin: 50px 0;
    text-align: center;
  }
  .btn_box{
    padding: 0 30px;
  }
}