

.card_table_box{
  min-width: 1079px;
  .select_box{
    margin-right: 15px;
  }
  .search_box{
    margin-bottom: 15px;
    width: 400px;
  }
  .table_btn_box{
    button{
      margin-right: 15px;
    }
  }
}