@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.courseSInfo_index{
  .at-tabs__header{
    background-color: #dde6e6;
  }
  .atTabs{
    height: 100%;
  }
}

.at-list{
  height: 100vh;
  overflow-y: scroll;
}