.Index{
  .form_box{
    .upload_btn{
      margin-right: 50px;
    }
    .imagePicker{
      width: 100%;
    }
    .btn_box{
      padding: 80px 40px;
      .btn{
        margin-bottom: 40px;
      }
    }
  }
}