.Index {
  display: flex;
  flex-direction: column;
  .fab_box{
    position: fixed;
    bottom: 200px;
    right: 50px;
    .at-fab{
      margin-top: 15px;
    }
  }
  .video_box {
    height: auto;
    .components-page {
      height: 100%;
      .video {
        width: 100%;
      }
    }
  }
  .tabs_box {
    overflow: hidden;
    height: 100vh;
    position: relative;
    .tabs_container {
      height: 100%;
      .tabs_container_box {
        overflow-y: scroll;
        box-sizing: border-box;
        .at-avatar{
          float: left;
          margin-right: 20px;
        }
      }
      .at-tabs-pane {
        box-sizing: border-box;
        padding: 25px;
      }
    }
    .introdu_box{
      .avatar_box{
        .avatar{
          float: left;
        }
      }
      .avatar_box::after{
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      .experience{
        margin-top: 30px;
      }
    }
    .examine_type {
      font-size: 25px;
      margin-bottom: 15px;
      color: #9e9e9e;
    }
    .examine_title {
      padding: 25px;
    }
    .exmaine_btn {
      margin-top: 15px;
    }
  }
}

.message_box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-collapse: collapse;
  .message {
    border-collapse: collapse;
    box-sizing: border-box;

    .nickname {
      font-weight: 600;
      font-size: small;
      color: #9e9e9e;
    }
    .message_container {
      margin: 25px 5px;
      font-size: medium;
    }
    .message_details {
      border-collapse: collapse;
      border-bottom: solid #a59a9a69 1px;
      .time{
        float: right;
        font-size: smaller;
      }
    }

    .message_reply {
      margin-top: 15px;
      margin-left: 50px;
      border-bottom: solid #a59a9a69 1px;
      .time{
        float: right;
        font-size: smaller;
      }
    }
  }
  .input_box {
    // position: fixed;
    // bottom: 20px;
    // width: 93%;
    // display: flex;
    // box-sizing: border-box;
    // .input {
    //   background-color: #9e9e9e;
    //   border-radius: 25px;
    //   flex: 4;
      
    // }
    .send {
      // right: 50px;
      // top: 500px;
      // position: fixed;
      .btn {
        border-radius: 25px;
        z-index: 6;
      }
    }
    .at-input {
      background-color: transparent;
      border: transparent;
      vertical-align: bottom;
    }
  }
}

.send{
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.message_box_index{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.message_input_box{
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 0.5px #9e9e9e94;
  .message_input{
    width: 70%;
    height: 70%;
    background-color: #9e9e9e73;
    border-radius: 15px;
    text-align: center;
    display: table-cell;
    line-height: 70px;
    .message_input_text{
      color: #9e9e9e;
    }
  }
  .message_icon{
    margin-left: 60px;
  }
}

.at-tabs__body{
  height: 100%;
  .at-tabs-pane{
    height: 100%;
  }
}

.tabs{
  display: flex;
  flex-direction: column;
}
